/* browser default stylesheet reset */
html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: 'Exo 2', sans-serif;
}

body,
ol,
p,
h1,
h3,
span,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 500;
  font: inherit;
  font-family: 'Exo 2', sans-serif;
}
ol {
  list-style-type: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}
*::-webkit-scrollbar{
  width: 8px;
}
*::-webkit-scrollbar-thumb{
  height: 20%;
  background: #3f611d;
  border-radius: 10px;
}

/* util stylesheets */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

/* common stylesheets */
body {
  background: #3f611d;
}
body::-webkit-scrollbar{
  width: 20px;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(254, 244, 224);
  border-radius: 10px;
  border: 7px solid #3f611d;
}
main {
  padding: 0 1rem;
}

/* element specific */
header > h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 0;
  color: rgb(254, 244, 224);
}

/* left panel */
.left-panel {
  width: 33%;
}
.total-board {
  background-color: rgb(254, 244, 224);
  width: 100%;
  height: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 1rem 0;
}
.total-board > p {
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.confirmed-total {
  color: #f54741;
  font-weight: 800;
  font-size: 2.5rem;
}
.country-ranks {
  margin-top: 1rem;
  background-color: rgb(254, 244, 224);
  width: 100%;
  height: 600px;
  border-radius: 20px;
  padding-right:10px;
}
.country-ranks > p {
  text-align: center;
  font-size: 1.25rem;
  padding: 1.25rem 0 0.75rem 0;
}
.rank-list {
  height: 540px;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 20px;
}
.city-list{
    padding: 7px 0 7px 20px;
    font-size: 18px;
}
.city-list:hover{
    cursor: pointer;
    background-color: rgb(252, 226, 192);
}
.selected{
  background-color: rgb(252, 226, 192);
}
.city-def{
  width: 80px;
  color: #f54741;
  font-weight: 600;
}
.last-updated-time {
  margin-top: 1rem;
  background-color: rgb(254, 244, 224);
  width: 100%;
  height: 80px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 20px;
}
/* right panel */
.right-panel {
  margin-left: 1rem;
  width: 66%;
}
.deaths-container {
  background-color: rgb(254, 244, 224);
  width: 100%;
  height: 440px;
  text-align: center;
  border-radius: 20px;
  padding-right:10px;
}
.summary-title {
  padding: 0.5rem 0;
  font-size: 1.25rem;
}
.total {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.list-wrapper {
  height: 340px;
}
.list-display{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.date{
  margin-right: 20px;
}
.recovered-container {
  margin-left: 1rem;
  background-color: rgb(254, 244, 224);
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding-right:10px
}
.recovered {
  color: #3f611d;
}
.right-list {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px 20px;
}

/* chart */
.chart-container {
  margin: 1rem 0;
  padding: 1rem;
  height: 356px;
  width: 100%;
  background-color: rgb(254, 244, 224);
  border-radius: 20px;
}
